@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Ubuntu" !important;
}
button {
  @apply select-none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1a202c;
}

::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  border-radius: 6px;
  border: 3px solid #1a202c;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #718096;
}

::-webkit-scrollbar-button {
  display: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #4a5568 #1a202c;
}
